<!DOCTYPE html>
<html>
<head>
    
<meta charset="utf-8">
<link rel="stylesheet" href="accueil.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title></title>

    </head>
    <body >
        <form>
            <div style="font-size: 30px;">
                <button class="btn" (click)=" goToRDV()">Rendez-vous</button>
           <button class="btn" (click)="goToListe()">Liste Rendez-vous</button> 
         
           <a href="#" class="fa fa-facebook"></a>

           <a href="#" class="fa fa-twitter"></a>
           <a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
           <br><br><br>
          
    <h1 >Bienvenue Dans Notre Cabine Médicale</h1>

        <hr>

        <br><br><br><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <label > Besoin D'un Avis Médicale ?&nbsp;&nbsp;&nbsp;</label>
        <br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p> &nbsp;&nbsp;&nbsp; nos médecins répondant 7jours/7, par téléphone ou par Email va toutes vos&nbsp;&nbsp; interrogation.&nbsp;&nbsp;&nbsp;</p>
<br>
            
           
           <iframe  class="googlemap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d102231.51070241022!2d10.08799977012404!3d36.8009105882838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd337f5e7ef543%3A0xd671924e714a0275!2sTunis!5e0!3m2!1sfr!2stn!4v1619238021688!5m2!1sfr!2stn" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy" aria-hidden="false" tabindex="0" ></iframe>
            
     
        
             

      
    
    <br><br><br><br><br><br><br><br>
   
    
        </form>

    </body>
    </html>