<!DOCTYPE html>
<html>
<head>
    
<meta charset="utf-8">
<link rel="stylesheet" href="liste.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title></title>

   
    </head>
    <body >
        <form>
           
           <button class="btn" (click)="goToAccueil()">Accueil</button> 
           <br><br><br><br><br>
         <h1>Liste Des Rendez-Vous</h1>
         
         <br><br><br><br><br>
         
        
         <span class="gauche">
         <table id="customers" style="width: 230%;">
            <tr>
          
            
              <th>Numéro Rendez-vous</th>
              <th>Date Rendez-vous</th>
              <th>Heure</th>
              
            </tr>
            <tr>
              <td ><br><br><br><br><br><br><br><br></td>
              <td></td>
              <td></td>
            
            
            </tr>
         
            
          </table> 
        </span>

        <span class="droite">
            <br><br>  <br>
            <button class="btn" (click)="goTordv()">Ajouter</button>
            <br><br><br>
            <button class="btn" (click)="goToModifer()">Modifier</button>
            <br><br><br>
            <button class="btn" (click)="goToSupprimer()">Supprimer</button>
        </span>
        
             
            
          
         
          <br> <br><br><br><br> 
   
        <footer >
            <br> <br><br>  <br> <br><br>  <br> <br><br>  <br> <br><br>  <br>   
        <a href="#" class="fa fa-facebook"></a>
        
        <a href="#" class="fa fa-twitter"></a>
         <a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>
         </footer>
         <br><br><br>

        </form>

    </body>
    </html>